<button type="button" class="btn btn-link btn-sm search-toggle-more-categories" data-toggle="modal" data-target="#modal_form_{{ facet.name }}" title="Show more categories for this facet"><small class="glyphicon glyphicon-plus"></small>&nbsp;<span>More…</span></button>
<div id="modal_form_{{ facet.name }}" class="modal fade prepared-facet-dialog" role="dialog" tabindex="-1" data-facet-name="{{ facet.name }}" data-facet-url="{{ facet.more_url|default:'' }}">
  <div class="modal-dialog"><div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button><h4 class="modal-title" id="modal_title_{{ facet.name }}">{{ facet.title }}</h4></div>
    <div class="modal-body"><p class="facet-load-status" role="status"></p><ul id="modal_form_{{ facet.name }}_items"></ul></div>
    <div class="modal-footer">
      <a href="#" class="btn btn-default pull-left" role="button" data-facet-action="previous" title="See previous group of facets">« Previous</a>
      <a href="#" class="btn btn-default pull-left" role="button" data-facet-action="next" title="See next group of facets">Next »</a>
      <a href="#" class="btn btn-default pull-left" role="button" data-facet-action="alphabetical" title="Sort facets alphabetically (ascending)">A-Z</a>
      <a href="#" class="btn btn-default pull-left active" role="button" data-facet-action="count" title="Sort facets by count (descending)">9-0</a>
      <input id="modal_form_{{ facet.name }}_filter" placeholder="narrow your search" title="narrow your search" value="" class="pull right">
    </div>
  </div></div>
</div>
{% with values_id="facet-data-"|add:facet.name %}{{ facet.more_values|json_script:values_id }}{% endwith %}
