{% extends "base.html" %}
{% load static %}
{% block title %}{{ name }} Collaborator network{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/network_graph.css' %}">{% endblock %}
{% block content %}
{% include "includes/prepared_search.html" %}
<div class="network-page research-chart-page">
  <h1 class="researcherName">{{ name }}</h1>
  <div class="row">
    <div class="col-md-9">
      <div id="descriptionMsg">This visualization shows research areas and how common they are among researchers for an organization. Only those research areas indicated in more than one researcher profile for this organization are shown.</div>
      <div id="errorMsg" class="alert alert-warning{% if chart.links %} hidden{% endif %}" role="alert">No collaboration data is available for this organization.</div>
      <svg id="svgElement" class="network-graph" width="960" height="700" viewBox="0 0 960 700" role="img" aria-label="Shared research areas"></svg>
    </div>
    <div class="col-md-3 network-options">
      <a class="btn btn-default btn-lg" href="{% url 'visualization_collab' id %}">Collaboration Network</a>
      {% if not is_team %}<a class="btn btn-default btn-lg" href="{% url 'visualization_publications' id %}">Publication History</a>{% endif %}
      <a class="btn btn-primary btn-lg" href="{% url 'visualization_research' id %}">Research Areas</a>
      {% if not is_team %}<p><b>Options</b></p><p><a href="{% url 'display_show' id %}">View Organization's Profile</a></p>{% endif %}
      <p><b>Data</b></p>
      <p><a href="{% url 'visualization_research_json' id %}" target="_blank" rel="noopener">Download data (JSON)</a></p>
      <p><button id="embedHtml" class="network-link-button" type="button">Embed SVG Code</button></p>
    </div>
  </div>
  <div id="embedHtmlDiv" class="hidden"><p>Copy the following HTML to embed the SVG into your own page</p><textarea id="embedHtmlText" rows="10" aria-label="SVG code"></textarea></div>
</div>
{{ chart|json_script:"research-chart-data" }}
{% endblock %}
{% block extra_js %}<script src="{% static 'js/d3.v4.min.js' %}"></script><script src="{% static 'js/research_chart.js' %}"></script>{% endblock %}
