{% extends "base.html" %}
{% load static asset_urls %}
{% block title %}{{ name }} Collaborator network{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% versioned_static 'css/network_graph.css' %}">{% endblock %}
{% block content %}
{% include "includes/prepared_search.html" %}
<div class="network-page research-chart-page">
  <h1 class="researcherName">{{ name }}</h1>
  <div class="row">
    <div class="col-md-9">
      <div id="descriptionMsg">This visualization shows research areas and how common they are among researchers for an organization. Only those research areas indicated in more than one researcher profile for this organization are shown.</div>
      <div id="errorMsg" class="alert alert-warning{% if chart.links %} hidden{% endif %}" role="alert">No collaboration data is available for this organization.</div>
      <svg id="svgElement" class="network-graph" width="960" height="700" xmlns="http://www.w3.org/2000/svg"></svg>
    </div>
    <div class="col-md-3 network-options">
      <a class="btn btn-default btn-lg" role="button" href="{% url 'visualization_collab' id %}">Collaborator Network</a>
      {% if not is_team %}<a class="btn btn-default btn-lg" role="button" href="{% url 'visualization_publications' id %}">Publication History</a>{% endif %}
      <a class="btn btn-primary btn-lg" role="button" href="{% url 'visualization_research' id %}">Research Areas</a>
      <div id="legend"></div>
      {% if not is_team %}<p><b>Options</b></p><p><a href="{% url 'display_show_public' id %}">View Organization's Profile</a></p>{% endif %}
      <p><b>Data</b></p>
      <p><a href="{% url 'collab_json' id %}" target="_blank" rel="noopener" title="Format suitable for D3 and other visualization tools.">Download data (JSON)</a></p>
      <p><a id="embedHtml" href="#" title="Shows HTML to embed the graph as an SVG element into your own page.">Embed SVG Code</a></p>
    </div>
  </div>
  <div id="embedHtmlDiv" class="row hidden"><div class="col-md-12"><p>Copy the following HTML to embed the SVG into your own page</p><textarea id="embedHtmlText" rows="15" class="htmlSnippet"></textarea></div><div><p>&nbsp;</p></div></div>
</div>
{{ chart|json_script:"research-chart-data" }}
{% endblock %}
{% block extra_js %}<script src="{% static 'js/d3.v4.min.js' %}"></script><script src="{% versioned_static 'js/research_chart.js' %}"></script>{% endblock %}
